*{
    font-family: 'Nunito', sans-serif;
}

#link,a,.link{
    text-transform: none;
}

body{
    /*Adicionando cor gradiente
    background-image: linear-gradient(to right bottom, #800df2,#00ff43);*/
    /*adicionando imagem de fundo */
    background: url(../images/background/foquete.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-size:100%;
    background-repeat: no-repeat;*/
}

.imgProfile{
    margin-top: 10px;
    margin-bottom: 50px;
    filter: none;
}

.bt-links{
    margin-bottom: 32px;
    width: 95%;
    filter: blur(-2px) ;
}

.itens{
    /*background-image: */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 80px 20px 80px 20px;
    border: solid 5px;
    border-color: rgba(231, 231, 236, 0.5);
    margin-top: 5rem;
    padding-bottom: 16px;
    box-shadow: 0 0 20px black;
    
}

.imgLink{
    margin-top: 3px;
}

.iconLink{
    width: 30%;
}

.btn{
    background-image: linear-gradient(
        to right bottom,
        rgb(248, 247, 248) , 
        rgb(5, 174, 252)
    );
}

.btn:hover{
    color: rgb(4, 0, 255) !important;
    background-image: linear-gradient(
        to right bottom,
        rgb(93, 203, 236) , 
        rgb(91, 144, 243)
    ) !important;
    box-shadow: 0 0 35px rgb(240, 7, 248) !important;
}

footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    /*background-image: linear-gradient(to right bottom, rgb(155, 167, 166), rgb(91, 144, 243));*/
    color: white;
}

p,h1{
    color: white;
}