.cartao{
    position: relative;
    cursor: pointer;
    margin-top: 6vh;
}

.cartao .cartao-projeto{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(20px);
    border: 3px solid white;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    transition: all .4s;
}

.cartao .cartao-projeto p{
    padding: 0.3em 1.5em;
}

.cartao:hover .cartao-projeto{
    color: rgb(36, 36, 36);
}

.cartao::before,
.cartao::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #8000ff6e;
    z-index: -20;
    transition: all .4s;
}

.cartao::before{
    top: 0;
    right: 0;
}
.cartao::after{
    bottom: 0;
    left: 0;
    background: #e100ff6b;
}

.cartao:hover::before{
    margin-right: -3em;
    width: 50px;
    height: 50px;
    transform: translate(-20px, -20px);
    border-radius: 50%;
}
.cartao:hover::after{
    margin-bottom: -2.8rem;
    width: 50px;
    height: 50px;
    transform: translate(-20px,-20px);
    border-radius: 50%;
}

.titulo-projeto{
    text-align: center;
}

/*
* Para trocar a cor dos card ou adicionar efeito
* tem que tirar a cor do card no HTML

.projecto{
    background-color: #0288d1;
    
}

.projecto:hover{
    background-color: #039be5;
}*/