.header{
    width: 720px;
    height: 100px;
    margin: 0 auto;
    padding: 5;
    background-color: #8be0e0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    width: 64px;
    align-items: center;
    background-color: #b4acac;
    color: black;
    margin: 40px;
    border-radius: 4px;
    text-align: center;
}

.header a:hover{
    background-color: #dd8181;
}